extends ../../layouts/default.pug
include ../../mixins/pagination.pug

block main
  .container.mt-5
    .card
      .card-header
        h3 Hotel Management
      .card-body
        form(id="form-search" class="row")
          .input-group.col-md-8
            input.form-control(
              type="text"
              placeholder="Nhập từ khóa"
              name="keyword"
              id="keyword"
              value=keyword
            )
            button.btn.btn-success(type="submit") Tìm
          .col-md-4
            select.form-control(name="column" id="column-select")
              option(value="0") Id Khách sạn
              option(value="1") Tên khách sạn
              option(value="2") Liên lạc
              option(value="3") Email
              option(value="4") Id địa chỉ
              option(value="5") Miêu tả

      .card-footer
        a.btn.btn-primary.btn-sm(href='/admin/hotels/add') Thêm hotel mới

    table.table.table-hover.table-sm.mt-3
      thead
        tr
          th STT
          th Id Khách sạn
          th Tên khách sạn
          th Liên lạc
          th Email
          th Id địa chỉ
          th Miêu tả
          th Action
      tbody
        each item, index in Hotel
          tr
            td= index + 1
            td= item.hotel_id
            td= item.name
            td= item.contact_number
            td= item.email_address
            td= item.address_id
            td= item.description
            td
              a.btn.btn-primary.btn-sm(href=`/admin/hotels/edit/?hotelId=${item.hotel_id}`) Edit
              button.btn.btn-danger.btn-sm(type="button" class="delete-btn" data-hotel-id=item.hotel_id) Delete

    +pagination(pagination)

    //- Thông báo cảnh báo (Alert) khi xóa khách sạn
    .alert-container(style="display: none; position: fixed; top: 20%; left: 50%; transform: translateX(-50%); z-index: 1050;")
      .alert.alert-danger
        button.close(type="button" data-dismiss="alert" aria-label="Close")
          span(aria-hidden="true") &times;
        p Bạn có chắc chắn muốn xóa khách sạn này?
        button.btn.btn-danger#confirm-delete-btn Xóa
        button.btn.btn-secondary#cancel-delete-btn Hủy