extends ../../layouts/default.pug
include ../../mixins/pagination.pug

block main
  .card
    .card-header
      h3 Thống kê Doanh Thu

    .card-body
      .statistic-item
        h5 1 Thống kê doanh thu theo phòng
        form(id='query1')
          .form-group
            label(for="room_type") Lựa chọn loại phòng
            select(name="room_type", id="room_type", class="form-control")
              option(value="") Chọn loại phòng
              option(value="Single") Single
              option(value="Double") Double
              option(value="Suite") Suite
              option(value="Family") Family
              option(value="Luxury") Luxury
          button(type="submit", class="btn btn-primary") Lọc thống kê

          div(id="result-container")

      .statistic-item
        h1 2 Thống kê tháng có lượng đặt phòng cao nhất theo loại phòng
      form(id="query2")
        .form-group
          label(for="room_type") Lựa chọn loại phòng
          select(name="room_type", id="room_type2", class="form-control")
            option(value="") Chọn loại phòng
            option(value="Single") Single
            option(value="Double") Double
            option(value="Suite") Suite
            option(value="Family") Family
            option(value="Luxury") Luxury
        button(type="submit", class="btn btn-primary") Lọc thống kê

      // Kết quả trả về từ server
      .results
        h3 Tháng có lượng đặt phòng cao nhất:
        ul(id="statistics-result")

      .statistic-item
        h1 3 Thống kê tổng doanh thu và đặt phòng theo khách sạn khách sạn
      form(id="query3")
        .form-group
          label(for="hotel_id") Nhập ID khách sạn
          input(type="number", name="hotel_id", id="hotel_id", class="form-control", placeholder="Nhập ID khách sạn")
        button(type="submit", class="btn btn-primary") Lọc thống kê

      // Kết quả trả về từ server
      .results
        h3 Kết quả thống kê khách sạn:
        table(class="table table-bordered")
          thead
            tr
              th Tên khách sạn
              th Tổng số đặt phòng
              th Tổng doanh thu
          tbody(id="statistics3-result")

      .statistic-item
        h1 4 Thống kê doanh thu hàng tháng

        .mb-3
          button(id="show-btn", class="btn btn-primary") Hiện
          button(id="hide-btn", class="btn btn-danger") Tắt

        div(id="content", class="content")
          h3 Doanh thu hàng tháng
          table.table.table-bordered
            thead
              tr
                th Tháng
                th Năm
                th Doanh thu tháng
            tbody#statistics4-result
              // Kiểm tra nếu có dữ liệu trong results
              if res && res.length > 0
                each result in res
                  tr
                    td= result.month
                    td= result.year
                    td= result.monthly_revenue.toLocaleString() + " VND"
              else
                tr
                  td(colspan="3") Không có dữ liệu

      .statistic-item
        h1 5 Thống kê phòng trống của khách sạn

        .mb-3
          label(for="hotel_id5") Nhập ID Khách Sạn
          input(type="text", id="hotel_id5", class="form-control", placeholder="Nhập ID khách sạn")
          button(id="search-btn5", class="btn btn-primary") Tìm kiếm

        .mb-3
          button(id="show-btn5", class="btn btn-primary") Hiện
          button(id="hide-btn5", class="btn btn-danger") Tắt

        div(id="content5", class="content")
          h3 Thống kê phòng trống của khách sạn
          table.table.table-bordered
            thead
              tr
                th Tên khách sạn
                th Phòng trống
                th Tổng số phòng
                th Tỷ lệ phòng trống
            tbody#statistics5-result
              // Kiểm tra nếu có dữ liệu trong results
              if res && res.length > 0
                each result in res
                  tr
                    td= result.hotel_name
                    td= result.available_rooms
                    td= result.total_rooms
                    td= result.vacancy_rate + " %"
              else
                tr
                  td(colspan="4") Không có dữ liệu