extends ../../layouts/default.pug
include ../../mixins/pagination.pug

block head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet" href="/css/Styles.css") 
  link(rel="stylesheet" href="/css/style.css") 


block main
  .header-container.d-flex.justify-content-between.align-items-center
    h1.serif-font Hotels & Resorts
    button.btn.btn-link(type="button", onclick="window.location.href='/author'") Đăng xuất
  form#form-search
    .input-group.mb-3
      input.form-control(
        type="text"
        placeholder="Địa điểm"
        name="address"
        value=address
      )
      input.form-control(
        type="text"
        placeholder="Loại"
        name="room_type"
        value=room_type
      )
      input.form-control(
        type="number"
        placeholder="Số lượng người"
        name="capacity"
        min="1"
        value=capacity
      )
      .input-group-append
        button.btn.btn-success(type="submit") Tìm kiếm

  table.table.table-hover.table-sm(style="position: relative; z-index: 1;")
    thead
      tr
        th STT
        th Vị trí
        th Loại phòng
        th Giá mỗi đêm
        th Sức chứa
        th Trạng thái
        th View
    tbody
      each item, index in rooms
        tr
          td= index + 1
          td= item.Hotel && item.Hotel.Address ? item.Hotel.Address.address_line1 : 'Không có địa chỉ'
          td= item.room_type
          td= item.price ? `${item.price} VND` : 'Không có giá'
          td= item.capacity ? `${item.capacity} người` : 'Không xác định'
          td
            if item.status === 'Available'
              span.badge.badge-success Có sẵn
            else if item.status === 'Booked'
              span.badge.badge-warning Đã đặt
            else if item.status === 'Maintenance'
              span.badge.badge-danger Đang bảo trì
            else
              span.badge.badge-secondary Không xác định
          td
            button.btn.btn-info.btn-sm(
              type="button", 
              data-room-id=item.room_id, 
              onmouseover="showDetails(this); changeButtonText(this, 'Booking')",
              onmouseout="changeButtonText(this, 'Chi tiết')",
              ) Chi tiết

  #layoutOverlay.overlay
    .overlay-content

  footer
    .pagination-container
      +pagination(pagination)

