extends ../../layouts/default.pug
include ../../mixins/pagination.pug

block main
  .card
    .card-header
      h3 Room Management
    .card-body
      .row
        .col-12.d-flex.justify-content-between.align-items-center.mb-3
          .btn-group
            each item in filterRoom
              button(
                class="btn btn-sm btn-outline-success #{item.class}"
                button-status=item.status
              ) #{item.name}
          form(id="form-search" class="d-flex align-items-center")
            .input-group
              input(
                type="text"
                placeholder="Nhập từ khóa"
                name="keyword"
                class="form-control form-control-sm"
                id="keyword"
                value=keyword
              )
              .input-group-append
                button(
                  class="btn btn-success btn-sm"
                  type="submit"
                ) Tìm
            select(
              class="form-control form-control-sm ml-2"
              name="column"
              id="column-select"
            )
              option(value="0") Id khách sạn
              option(value="1") Số phòng
              option(value="2") Loại phòng
              option(value="3") Số lượng người
              option(value="4") Ảnh minh họa

    .card-footer
      p Manage your room volume easily
      a.btn.btn-primary(href='/admin/rooms/add') Thêm room mới

  table.table.table-hover.table-sm
    thead
      tr
        th STT
        th Id khách sạn
        th Số phòng
        th Loại phòng
        th Số lượng người
        th Ảnh minh họa
        th Trạng thái
        th Thao tác
    tbody
      each item, index in Room
        tr
          td= index + 1
          td= item.hotel_id
          td= item.room_number
          td= item.room_type
          td= item.capacity
          td
            if item.thumbnail
              img(src=item.thumbnail, alt="Room Thumbnail", class="img-fluid" style="max-width: 100px; height: auto;")
            else
              p No Image Available
          td
            if item.status === 'Avaiable'
              span.badge.badge-success Available
            else if item.status === 'Booked'
              span.badge.badge-warning Booked
            else if item.status == 'Maintainance'
              span.badge.badge-primary Maintainance
            else 
              span.badge.badge-secondary Không xác định
          td= item.total_amount
          td
            a.btn.btn-primary.btn-sm(href=`/admin/rooms/edit/?roomId=${item.room_id}`) Edit
            button.btn.btn-danger.btn-sm(type="button" class="delete-btn" data-hotel-id=item.hotel_id) Delete

    +pagination(pagination)


    .alert-container(style="display: none; position: fixed; top: 20%; left: 50%; transform: translateX(-50%); z-index: 1050;")
      .alert.alert-danger
        button.close(type="button" data-dismiss="alert" aria-label="Close")
          span(aria-hidden="true") &times;
        p Bạn có chắc chắn muốn xóa khách sạn này?
        button.btn.btn-danger#confirm-delete-btn Xóa
        button.btn.btn-secondary#cancel-delete-btn Hủy